
.pill {
    background-color: rgba(42, 1, 3, 0.88);
    border-color: rgba(207, 196, 194, 0.65);
}

.pill:hover {
    background-color: rgba(42, 1, 3, 0.95);
}

.battery, .clock {
    color: #ffffff;
}
